Repository rachelbuchta/rancidTomatillos, pull requests merged in 2021-02, with the labels that each got.

#3 Feat/file structure
  .eslintcache
  package-lock.json
  package.json
  src/App.js
  src/Components/App/App.js
  src/Components/App/App.scss
  src/Components/App/App.test.js
  src/Components/Footer/Footer.js
  src/Components/Footer/Footer.scss
  src/Components/Header/Header.js
  src/Components/Header/Header.scss
  src/Components/Movie/Movie.js
  src/Components/Movie/Movie.scss
  src/Components/MovieDetails/MovieDetails.js
  src/Components/MovieDetails/MovieDetails.scss
  src/Components/Movies/Movies.js
  src/Components/Movies/Movies.scss
  src/images/movieTicket.png
  src/index.js
  src/index.scss
  src/movieData.js
Labels: Iteration 1, Movie, Movies, Scss, enhancement

#5 Feat/display movie
  .eslintcache
  src/Components/App/App.js
  src/Components/App/App.scss
  src/Components/Header/Header.js
  src/Components/Header/Header.scss
  src/Components/Movie/Movie.js
  src/Components/Movie/Movie.scss
  src/Components/MovieDetails/MovieDetails.js
  src/Components/MovieDetails/MovieDetails.scss
  src/Components/Movies/Movies.js
  src/Components/Movies/Movies.scss
  src/index.scss
Labels: Iteration 2, Scss, enhancement

#7 Feat/api calls
  .eslintcache
  public/index.html
  src/Components/App/App.js
  src/Components/App/App.scss
  src/Components/Movie/Movie.scss
  src/Components/MovieDetails/MovieDetails.js
  src/Components/MovieDetails/MovieDetails.scss
  src/Components/Movies/Movies.js
  src/util.js
Labels: API, Iteration 2, Scss, enhancement

#20 Feat/responsive design
  .eslintcache
  src/Components/App/App.js
  src/Components/App/App.scss
  src/Components/Footer/Footer.js
  src/Components/Footer/Footer.scss
  src/Components/Header/Header.scss
  src/Components/MovieDetails/MovieDetails.js
  src/Components/MovieDetails/MovieDetails.scss
  src/Components/Movies/Movies.scss
  src/util.js
Labels: Display, Iteration 4
